
<div class="">
	<h2>当サイトについて</h2>
	<div class="about-body">
		<p>当サイトでは、</p>
		<p>スポット検索ページにて、様々なスポットを探すことができます。</p>
		<p>また、
		スポット登録ページにて新たにスポットを登録することもできます。</p>
		<p>各スポットのページでは、
		</p>
		<p>また、そのスポットを訪れた日時を登録することができ、
		自分だけの京都訪問の記録をつけることができます。</p>
	</div>
</div>
