	<h1>当サイトについて</h1>
<div class="about">


	<div class="about-body">
		<div class="about-site">
			<p>当サイトでは、旅行のために京都のスポットを探したり、感想を共有したりすることができます。</p>
		</div>
		<!-- スポット検索 -->
		<div class="about-spot">
			<span>スポットを探す</span>
			<p>スポット検索ページでは、様々な条件を指定してスポットを探すことができます。</p>

		</div>

		<div class="about-review">
			<span>感想を共有する</span>
			<p>各スポットのページでは、そのスポットの感想を写真と一緒に投稿できます。</p>
			<p>スポットが見つからない場合は、スポット登録ページから新たにスポットを登録して
				感想を投稿することもできます。</p>
		</div>

		<div class="about-map">
			<span>マイMAPを作る</span>
			<p>各スポットのページに表示されるMAP上でスポットを保存することで、
			マイページ内でお気に入りスポットが詰まったマイMAPを作ることができます。</p>
		</div>

		<div class="about-visit">
			<span>旅行記録をつける</span>
			<p>各スポットのページで訪れた日時を登録することで、
			マイページから自分だけの京都旅行記録を見ることができます。</p>
			<p>また、訪れたスポットは分類分けされグラフ化されるので、
			自分が行くスポットの傾向を知ることができます。</p>
		</div>
	</div>
</div>


<style>
	.about{
		margin: 50px;
	}
	.about p{
		font-size: 18px;
	}

	.about-body div{
		margin-bottom: 30px;
	}

	.about span{
		font-size: 28px;
	}
</style>
