	<h1>当サイトについて</h1>
<div class="about">


	<div class="about-body">
		<div class="about-site">
			<br>
			<p>当サイトでは、京都の素敵なスポットを探したり、感想を共有したりすることができます。<br>
				すでに知っているスポットはもちろん、今まで知らなかったスポットの良さも知っていただき、
				京都旅行をより楽しんで<br>いただければ幸いです。
			</p>
		</div>
		<!-- スポット検索 -->
		<div class="about-spot">
			<span>スポットを探す</span>
			<p>スポット検索ページでは、様々な条件を指定してスポットを探すことができます。<br>
				今まで知らなかったスポットに出会えるかもしれません。
			</p>

		</div>

		<div class="about-review">
			<span>感想を共有する</span>
			<p>各スポットのページでは、そのスポットの感想を写真と一緒に投稿できます。<br>
			スポットが見つからない場合は、スポット登録ページから新たにスポットを登録して
				感想を投稿することもできます。</p>
		</div>

		<div class="about-map">
			<span>マイMAPを作る</span>
			<p>各スポットのページに表示されるMAP上でスポットを保存することで、<br>
			マイページ内でお気に入りスポットが詰まったマイMAPを作ることができます。</p>
		</div>

		<div class="about-visit">
			<span>旅行記録をつける</span>
			<p>各スポットのページで訪れた日時を登録することで、
			自分だけの京都旅行記録を見ることができます。<br>
			また、訪れたスポットはカテゴリ別でグラフ化されるので、
			自分が訪れたスポットの傾向を知ることができます。</p>
		</div>
	</div>
</div>


