<!-- 背景画像 -->
<div class="topbg">
	<!-- 背景を覆う半透明の黒領域 -->
	<div class="bgcover">
		<!-- 右上のテキスト部分 -->
		<div class="top-text-area"></div>
		
	</div>
	<!-- サイト名を表示する領域 -->
		<div class="top-title-area"></div>
</div>

