/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// @import 'slick';
// @import 'slick-theme';
// @import "bootstrap-sprockets";
// @import "bootstrap";   

/*和風な色のカラーコード https://www.colordic.org/w/*/

header{
	width: 100%;
	height: 200px;
	/*木賊色　とくさいろ*/
	/*background-color: #3b7960;*/
	display: flex;
	position: relative;
	background-image: url("bg3.jpg");	 /*justify-content: space-between;*/
}

body{
	
	/*background-size: cover;*/
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;

	// background-image: url("2.jpg");
	background-color: #d6e9ca;
	// opacity: 0.5;
	/*opacity: 0.7;*/
	top: 0;
	left: 0;
}

.site-logo{
	position: absolute;
   	/*left: 10px;*/
   	top: 20%;
   }

   .site-logo img{
   	height: 150px;
   	width: auto;
   }

   .nav-menu{
   	position: absolute;
   	display: flex;
   	list-style: none;
   	text-decoration: none;
   }

   #main-menu{
   	bottom: 0;
   	left: 26%;
   }

   .header-user-name{
   		padding: 5px;
   		background-color: white;
   }

   .header-user-link{
   		padding: 5px;
   		// margin-right: 5px;
   		background-color: white;
   }

   .header-user-link:hover{
   			color: orange;

   }

   .header-user-link:active{
   			color: orange;
   		border-bottom: solid 2px orange;
   }

.headermenu{
   		font-size: 20px;
   		padding: 5px;
   		background-color: white;
   }

   .headermenu:hover{
   		color: orange;
   }

   .headermenu:active{
   		color: orange;
   		border-bottom: solid 2px orange;
   }

  	

   #user-menu{
   	top: 10px;
   	right: 30px;
   }

   .item{
   	color:#000000;
   	text-decoration: none;
   	margin-left: 50px;
   }


   footer{
   	width: 100%;
   	height: 200px;
   	color: #eaedf7;
	/*烏羽色 からすばいろ*/
	background-color: #180614;
	position: relative;
}

.button {
	float: left;
	cursor: pointer;
}

.button:nth-child(1) {
	margin-right: 30px;
}

.clear {
	clear: left;
}

.sign_modal_wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #16160e;
	opacity: .7;
	z-index: 100;
	display: none;
}

.sign_modal {
	position: absolute;
	background-color: #fff;
	width: 450px;
	height: 350px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
	z-index: 3500;
	border: 1px solid #eee;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	display: none;
}

.sign_modal_head {

}

.sign_modal_body {

}

.sign_modal_up {
	display: none;
}

.sign_modal_in {
	display: none;
}

.notice{
	padding-top: 5px;
	padding-left: 30px;
	padding-bottom: 5px;
	color: white;
	background-color: #7ebea5;
}

.alert{
	padding-top: 5px;
	padding-left: 30px;
	padding-bottom: 5px;
	color: white;
	background-color: #ec6d71;
}

#copyright{
	position: absolute;	

	right: 30px;
	bottom: 20px;
}

	/*スポット詳細ページのスポット名*/
	h2{
		margin-top: 30px;
		margin-bottom: 20px;
	}

