// Place all the styles related to the spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.spot-index{
	margin-bottom: 50px;
}

.spot-area{
	overflow:hidden;
}

.img-trim{
	object-fit: cover;
}

.spot-img{
	text-align: center;
	width: 45%;
	margin-right: 10%;
	float: left;
}

.spot-map{
	text-align: center;
	width: 45%;
	float: left;
}

.spot-info{
	width: 100%;
	margin-top: 50px;
	// overflow:hidden;
	float: left;
}

.review_form{
	margin-top: 50px;
	// float: none;
}

.review-img{
	margin-right: 10px;
	float: left;
}

.review{
	padding-top: 20px;
	background-color: #ede4cd;
	border-bottom: solid 3px #16160e;
	overflow:hidden;
}

.review-info{
	padding-top: 15px;
	clear: left;
}

.review-body {
  resize: none;
  width:500px;
  height:130px;
}

.paginate{
	margin-bottom: 50px;
}