// Place all the styles related to the spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// new.html.erb edit.html.erb
.input-group{
	margin-bottom: 200px;
}

.edit-input-group{
	margin-bottom: 10px;
}

.spotsubmit{
	width: 50px;
	height: 25px;
}



#find-place-query-button{
	padding: 3px;
}

.spotinput{
	width: 350px;
	height: 20px;
}
.spotform{
	height: 500px;
	width: 300px;
	// margin-bottom: 100px;
	display: block;
}


#map-content{
	height: 500px;
	width: 100%;
	white-space: nowrap;
	padding-top: 60px;
	padding-left: 10%;
	padding-bottom: 100px;
	background-color: #FEFDED;
}

#find-place-query{
	height: 30px;
	width: 300px;
	margin-top: 10px;
	margin-left: 60px;
}

#map{
	height: 100%;
	width: 500px;
	/*float: right;*/
	/*margin-right: 100px;*/
	display: inline-block;
	/*white-space: nowrap;*/
}

#menu{
	height: 100%;
	width: 300px;
	margin-right: 20%;
	/*float: left;*/
	display: inline-block;
	/*white-space: nowrap;*/
}

#result-area{

}



.searchbox{
	font-size: 18px;
	padding-top: 30px;
	padding-left: 15%;
	padding-bottom: 30px;
	background-color: #FEFDED;
	margin-bottom: 20px;
	// display: block;
	// overflow: hidden;

}

.searchbox dt{
	display: inline-block;
	margin-right: 30px;
}

.searchbox dd{
	display: inline-block;
	margin-right: 30px;
}

.searchbox label{
	margin-top: 20px;

}


//index.html.erb

.spotindex{
	// width: 100%;
	// padding-left: 10%;
	// overflow: hidden;
}

#spot-register-link{
	font-size: 18px;
	text-align: right;
	margin-right: 20%;
}
#spot-register-btn{
	color: black;
	background-color: white;
	border: solid 1px rgb(216, 216, 216);
	border-radius: 5px;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	font-size: 14px;
	font-family: system-ui;
	margin-left: 230px;
}

#spot-register-btn:active{
	background-color: #4169E1;
}

.searchform{
	width: 200px;
	height: 25px;
}

.selectform{
	height: 25px;
}

.search-btn{
	width: 100px;
	font-size: 20px;

}

.sort_link{
	// border-radius: 5px;
	// border: solid 1px black;
	// padding: 5px;
	// text-decoration: none;
	color: black;
}

.sort_link:hover{
	color: orange;
}

.spot-index{
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 50px;
}

.spot-show{
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 30px;
}

.spot-area{
	margin-top: 20px;
	padding: 0 50px 50px 50px;
	background-color: #FEFDED;
	overflow:hidden;
}

.spot-content{
	width: auto;
	padding: 50px;
	background-color: #FEFDED;
	// height: 300px;
	overflow: hidden;
}

.spot-area h2{
	padding-top: 20px;
}

.spot-content-img{
	display: inline-block;
}

.spot-content-text{
	line-height: 190%;
	padding-left: 100px;
	display: inline-block;
}

.spot-content-text-name{
	font-size: 20px;
	color: black;
}

.spot-content-text-name:hover{
	color: orange;
}

.visited{
	color: white;
	background-color: #B1B4AD;
	padding: 5px;
	border-radius: 5px;
}

.favoritedtext{
	background-color: #c0c6c9;
	padding: 5px;
	border-radius: 5px;
}

.categorytag{
	border-radius: 5px;
	color: white;
	padding: 5px;
}

#category1{
	background-color: #001950;
}

#category2{
	background-color: #003e7d;
}

#category3{
	background-color: #1168ad;
}

#category4{
	background-color: #509458;
}

#category5{
	background-color: #80c686;
}

#category6{
	background-color: #ffef00;
}

#category7{
	background-color: #f4d002;
}

#category8{
	background-color: gray;
}

.img-trim{
	object-fit: cover;
}


.spot-img{
	text-align: center;
	width: 45%;
	margin-right: 10%;
	float: left;
}

.spot-map{
	text-align: center;
	width: 45%;
	float: left;
}

.spot-info{
	width: 100%;
	margin-top: 10px;
	// overflow:hidden;
	float: right;
}

.review_form{
	background-color: #FEFDED;
	padding: 20px 50px 50px 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	// float: none;
}

.review-img{
	margin-right: 10px;
	float: left;
}

.review-index{
	padding: 20px 50px 50px 50px;
	background-color: #FEFDED;
}

.review{
	padding: 20px;
	// background-color: #ede4cd;
	background-color: #FEFDED;
	border-top: solid 1px #16160e;
	// border-bottom: solid 1px #16160e;
	overflow:hidden;
}

.review-info{
	padding-top: 15px;
	clear: left;
}

.review-body {
	resize: none;
	width:500px;
	height:130px;
}

.paginate{
	background-color: #FEFDED;
	// margin-left: 45%;
	padding-bottom: 30px;
	text-align: center;
	margin-bottom: 50px;
}

// スポット登録ページ
.map_canvas{
	float: left;
}