// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topbg{
	width: 100%;
	height: 1000px;
	background-image: url(/images/topbg.jpg);
	background-size: cover;
}

.bgcover{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: black;
	opacity: .5;
	z-index: 10;
}

.top-text-area{

}

.top-title-area{
	position: absolute;
	width: 400px;
	height: 400px;
	top: 500px;
	left: 520px;
	background-color: white;
	z-index: 20;
}