// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
	padding: 0;
	margin: 0;
}

.mainlogo{

}

.topbg {
	width:  100vw;
	height: 100vh;
	background-image: url(/images/topbg.jpg);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	position: fixed;
	top: 0;
	left: 0;
}

.bgcover {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(#000, .5);
}

.top-area {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 5%;
}

.top-text-area {
	width: 90px;
	height: 580px;
	font-size: 30px;
	color: #eaedf7;
	font-family: 'HiraMinPro-W6','MS Mincho';
	-ms-writing-mode: tb-rl;
  	writing-mode: vertical-rl;
  	position: absolute;
  	right: 50%;
    top: 55%;
    transform: translate(350px, -65%);
}

.top-title-area{
	width: 350px;
	height: 350px;
	text-align: center;
}

.enter {
    border: 0;
    line-height: 2.5;
    margin-left: 20px;
    padding: 0px 80px;
    font-size: 18px;
    font-family: 'HiraMinPro-W6','MS Mincho';
    text-align: center;
    color: #000;
    background-color: #eaedf7;
   }

.enter:hover {
    color: #555;
}


.review-box{
	float: left;
}

.lastreview-area{
	background-color: #180614;
	color: white;
	margin-top: 50px;
	margin-bottom: 50px;
	overflow: hidden;
}