// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#myPieChart{
	// height: 300px;
	// width: 300px;
}

#userchart{
	float: left;
	// height: 300px;
	// width: 300px;
	// position:relative;
}

.userinfo{
	margin-top: 80px;
	margin-left: 5%;
	float: left;
}

.profileimg{
 	border-radius: 50%;
 	margin-bottom: 20px;
}

.user-link{
	margin-top: 100px;
	margin-bottom: 50px;
}

.user-map-area{
	width: 100%;
	text-align: center;
	clear: both;
}

#map{
	margin: 0 auto;
}