// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#myPieChart{
	// height: 300px;
	// width: 300px;
}

#userchart{
	display: inline-block;
	// float: left;
	// height: 300px;
	// width: 300px;
	// position:relative;
}

.userinfo{
	// margin-top: 80px;
	margin-left: 5%;
	padding-left: 50px;
	display: inline-block;
	// float: left;
}

.profileimg{
 	border-radius: 50%;
 	margin-bottom: 20px;
}

.user-link{
	margin-top: 50px;
	margin-bottom: 50px;
}

.user-map-area{
	width: 100%;
	padding-bottom: 50px;
	background-color: #FEFDED;
	text-align: center;
	clear: both;
}

/*投稿画像を表示サイズにトリミングして表示*/
.profileimg{
	object-fit: cover;
}

.topinfo{
	background-color: #FEFDED;
	padding-top: 50px;
	// 画面幅狭めた時の改行を防ぐ。
	white-space: nowrap;
}

// ユーザ一覧ページ
#userindex{
	background-color: #FEFDED;
	padding: 50px 10% 50px 10%;
}

#userindex table{
	margin: 0 auto;
}